<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-feature
      android:name="android.hardware.vr.headtracking"
      android:required="true"
      android:version="1" />

  <application>
    <activity android:name="org.love2d.android.GameActivity">
      <!-- Validation flavor: enter Meta immersive mode immediately after the
           panel flavor has imported a ROM/mod and persisted VR=ON. -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="com.oculus.intent.category.VR" />
      </intent-filter>
    </activity>
  </application>
</manifest>
